.bar {
    border-bottom:2px solid rgb(243,243,243);
    color:$blue;
    font-size:15px;
}

.navbar {
    height:$navbar-height;
    .email {
        float:right;
        margin:10px;
        font-weight: bold;
    }

    .searchInput {
        margin:10px;
        border-radius:10px;
        outline: none;
        font-size:15px;
        border:1px solid $gray;
        text-indent: 20px;
        width:75%;
        height:60%;
    }

    .searchInput:focus {
        border-color:black;
    }

    img {
        float:left;
        width:25px;
        height:25px;
        margin:10px;
        cursor:pointer;
    }
}

.tagbar {
    height:$tagbar-height;

    .leftBar {
        .tags {
            font-size:18px;
            margin-top:5px;
            margin-left:10px;
        }

    }

    .rightBar {
        .addTagInput {
            margin:6px;
            border:none;
            outline:none;
            font-weight: bold;
            width:170px;
        }

        .addTagInput:focus {
            border-bottom:2px solid $blue;
        }

        .addTag {
            outline:none;
            border:none;
            background-color:transparent;
            cursor:pointer;
        }


        .addTag::after, .addTag::before {
            background-color: $blue;
            display:block;
            content:"";
            height:3px;
            width:15px;
        }

        .addTag::after {
            margin-bottom: 3px;
        }

        .addTag::before {
            transform: translateY(3px) rotate(90deg);
        }
        .addTag:active {
            transform:scale(0.9);
        }
    }


}

