.bar {
    border-bottom:2px solid rgb(243,243,243);
    color:$blue;
    font-size:15px;
}

.navbar {
    height:$navbar-height;
    .email {
        float:right;
        margin:10px;
        font-weight: bold;
    }

    img {
        float:left;
        width:25px;
        height:25px;
        margin:10px;
        cursor:pointer;
    }
}

.tagbar {
    height:$tagbar-height;

    .leftBar {
        .tags {
            font-size:18px;
            margin-top:5px;
            margin-left:10px;
        }

    }

    .rightBar {
        .addTagInput {
            margin:6px;
            border:0;
            outline:none;
            font-weight: bold;
            width:120px;
        }

        .addTagInput:focus {
            border-bottom:2px solid $blue;
        }

        .addTag {
            outline:none;
            border:none;
            background-color:transparent;
            cursor:pointer;
        }

        .addTag::after {
            margin-bottom: 3px;
            content:"";
            width:15px;
            height:3px;
            background-color: $blue;
            display:block;
        }

        .addTag::before {
            content:"";
            transform: translateY(3px) rotate(90deg);
            width:15px;
            height:3px;
            background-color: $blue;
            display:block;
        }
        .addTag:active {
            transform:scale(0.9);
        }
    }


}

