.info {
    right:105px;
    top:20px;
    display:none;
    background-color:white;
    border:1px solid $gray;
    position: relative;
    width:150px;
    height:50px;
    font-size:12px;

    span {
        padding-left: 5px;
    }

    .infoIcon {
        margin-top:10px;
        margin-left:10px;
        display:inline-block;
        position: relative;
    }
    .searchIcon {
        display: inline-block;
    }
    .searchIcon::after, .searchIcon::before {
        display:inline-block;
        position: relative;
    }

    .searchIcon::after {
        top:2px;
        right:3px;
    }

    
}
