.mainFlexBox {
    display:flex;
    flex-direction: column;
}

.notes {
    flex-grow: 2;
    flex-basis: 1px;
    height:100vh;

    .tagMenu {
        input {
            display:none;
        }

        label {
            font-size:20px;
            height:100px;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .noteDescription {
                display:none;
                color:rgb(173, 183,188);
            }
        }

        input:checked ~ label {
            background-color:rgb(238, 243, 248);
            .noteDescription {
                display:block;
            }
        }
    }

    .noteRedactor {

        .saveNoteButton {
            background-color:transparent;
            width:20px;
            height:20px;
            margin:10px;
            cursor:pointer;
            display:inline-block;
        }

        .notSaved::after,.notSaved::before {
            display:inline-block;
            content:"";
            top:2px;
            position: relative;
            width: 3px;
            left:9px;
            background-color:red;
        }

        .notSaved::before {
            height:15px;
            transform:rotate(45deg);
        }

        .notSaved::after {
            height:15px;
            transform:translateX(-3px) rotate(-45deg);
        }

        .saved::after,.saved::before {
            background-color:green;
            display:inline-block;
            content:"";
            top:2px;
            position: relative;
            width: 3px;
        }

        .saved::after {
            height:8px;
            transform:rotate(120deg);
        }

        .saved::before {
            height:15px;
            left:9px;
            transform:rotate(20deg);
        }

        .titleEditor {
            font-weight: bold;
            padding:10px;
            border:none;
            outline:none;
            font-size:35px;
        }
        .redactor {
            padding:10px;
            font-size:25px;
            border:none;
            outline:none;
            white-space: pre-wrap;
            tab-size: 3; 
        }
    }
}