.mainFlexBox {
    display:flex;
    flex-direction: column;
}

.notes {
    flex-grow: 2;
    flex-basis: 1px;
    height:100vh;

    .tagMenu {
        input {
            display:none;
        }

        label {
            font-size:20px;
            height:100px;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .noteDescription {
                display:none;
                color:rgb(173, 183,188);
            }
        }

        input:checked ~ label {
            background-color:rgb(238, 243, 248);
            .noteDescription {
                display:block;
            }
        }
    }

    .noteRedactor {
        .redactor {
            height:100%;
            width:100%;
            border:none;
            outline:none;
        }
    }
}