.navbar {
    height:$navbar-height;

    .leftBar {
        .searchInput {
            margin:10px;
            border-radius:10px;
            outline: none;
            font-size:15px;
            border:1px solid $gray;
            text-indent: 20px;
            width:75%;
            height:60%;
        }

        .searchIcon::after, .searchIcon::before {
            position:absolute;
            display:block;
        }

        .searchIcon::after {
            left:24px;
            top:24px;
        }

        .searchIcon::before {
            top:14px;
            left:16px;
        }

        .searchInput:focus {
            border-color:black;
        }
    }

    .rightBar {
        .email {
            float:right;
            margin:10px;
            font-weight: bold;
        }

        img {
            float:left;
            width:25px;
            height:25px;
            margin-top:10px;
            margin-left:20px;
            cursor:pointer;
        }

        .infoButton:hover ~ .info, .info:hover  {
            display:inline-block;
        }
    }

 
}
