.tagbar {
    height:$tagbar-height;

    .leftBar {
        .tags {
            font-size:18px;
            margin-top:5px;
            margin-left:10px;
        }

    }

    .rightBar {
        .addTagInput {
            margin:6px;
            border:none;
            outline:none;
            font-weight: bold;
            width:170px;
        }

        .addTagInput:focus {
            border-bottom:2px solid $blue;
        }

        .addTag {
            cursor:pointer;
        }
        
        .addTag:active {
            transform:scale(0.9);
        }
    }


}