body {
    margin:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.grid {
    display:flex;

    .leftBar {
        flex-grow: 1;
        flex-shrink:0;
        flex-basis:1px;
        border-right:1px solid rgb(243,243,243);
        width:25%;
    }

    .rightBar {
        flex-grow: 3;
        flex-basis: 1px;
        width:74%;
    }
}

.fullContainer {
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;

    .loading {
        font-size:40px;
    }


    @keyframes loading {
        to {
            transform:rotate(360deg)
        }
    }

    .loading::after {
        display:block;
        content:"";
        position: relative;
        width:40px;
        height:40px;
        margin:auto;
        margin-top:10px;
        border:5px solid white;
        border-left-color:$blue;
        border-bottom-color:$blue;
        border-radius: 50%;
        animation: loading 0.5s infinite linear;
    }
}