body {
    margin:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.grid {
    display:flex;

    .leftBar {
        flex-grow: 1;
        flex-shrink:0;
        flex-basis:1px;
        border-right:1px solid rgb(243,243,243);
        width:25%;
    }

    .rightBar {
        flex-grow: 3;
        flex-basis: 1px;
        width:74%;
    }
}