@import "./variables";
@import "./global";

@import "./components/main/bars.scss";
@import './components/main/main.scss';
@import "./components/main/navbar.scss";
@import "./components/main/tagbar.scss";
@import "./components/main/icons.scss";
@import "./components/main/info.scss";


